.indexBody {
  position: relative;
  left: 20vw;
}

.indexWidth{
  width: 70vw;
}

.indexTitle {
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
}

.indexArticle {
  white-space: pre-line;
}

.donateArticle {
  position: absolute;
  top: 50%;
  min-width: 100vw;
  text-align: center;
  font-size: 50px;
}