.wrapper {
  height: auto;
  position: relative;
  min-height: calc(100vh - 5rem);
}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  border-bottom: 1px solid lightgray;
  min-height: 5rem;
}

.navLayout {
  backdrop-filter: blur(0.5rem);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.navItemHome {
  flex-basis: 85px;
}

.navItem {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-basis: 40%;
  color: gray;

  @media(min-width: 1px) and (max-width: 800px) {
    display: block;
  }

  @media(min-width: 1500px) {
    flex-basis: 25%;
  }
}

.navMargin1 {
  flex-basis: 5%;

  @media(min-width: 1px) and (max-width: 700px) {
    flex-basis: 0%;
  }
}

.navMargin2 {
  flex-basis: 10%;

  @media(min-width: 1px) and (max-width: 700px) {
    flex-basis: 0%;
  }
}

.navItemLang {
  position: absolute;
  right: 10px;
}

.body {
  padding-top: 100px;
  min-height: calc(100vh - 5rem - 5rem);
}

.footer {
  position: relative;
  height: 5rem;
  transform: translateY(0%);
}