.nav {
  position : relative;
  width : 125%;
  left : 15%;
}

.navLayout {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.navItem {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.footer {
  position : absolute;
  bottom: 0;
  left :50%;
}