.nav {
  position:fixed;
  left:0;
  top:0;
  right:0;
}

.navLayout {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.navItemHome {
  flex-basis: 85px;
}

.navItem {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-basis: 40%;
  color: gray;

  @media(min-width: 1px) and (max-width: 800px) {
    display: block;
  }

  @media(min-width: 1500px) {
    flex-basis: 25%;
  }
}

.navMargin1 {
  flex-basis: 5%;

  @media(min-width: 1px) and (max-width: 700px) {
    flex-basis: 0%;
  }
}

.navMargin2 {
  flex-basis: 10%;

  @media(min-width: 1px) and (max-width: 700px) {
    flex-basis: 0%;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 50%;
}