.modalBackground {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-content: center;
  justify-content: center;
  z-index: 50;
}

.modalContainer {
  background: white;
  width: 300px;
  height: 100px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.modalButton {
  position: relative;
  margin-right: 3px;
}